body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,9,121,1) 35%, rgba(0,212,255,1) 100%);
}


h1{
    display: flex;
    justify-content: center;
    color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px black;
    padding: 10px;
    border: 3px solid black;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(244,70,252,1) 100%);
    border-radius: 7px;
}

img{
    margin-left: 600px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 10px;
}

textarea{
    display: flex;
    flex: 1;
    margin-top: 20px;
}

.content{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

ul{
    list-style-type: none;
    
}

li{
    display: flex;
    flex: 1;
    color: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-shadow: 2px 2px black;
    border: 3px solid black;
    margin: 8px;
    border-radius: 7px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(244,70,252,1) 100%);
    padding: 5px;
    
}

.speaking{
    margin-left: 5px;
    border-radius: 0%;
    padding: 50px;
}

.btn-cont{
    margin-left: 280px;
}

#reset-buttom{
    display: flex;
    justify-content: center;
    border-radius: 7px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 40px;
    width: 200px;
    margin-top: 10px;
    font-size: 25px;
    background: rgb(34,193,195);
     background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,193,188,1) 5%, rgba(60,193,177,1) 12%, rgba(73,193,168,1) 18%, rgba(143,191,120,1) 50%, rgba(253,187,45,1) 100%);
}

#reset-buttom:hover{
    font-size: 30px;
}

footer{
    display: flex;
    justify-content: flex-end;
}

p{
    color: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    border: 3px solid black;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(244,70,252,1) 100%);
    border-radius: 7px;

}